<!DOCTYPE html>
<html>
<head>
<title>Chart the Stock Market</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<style>
.axis path, .axis line {
    fill: none;
    stroke: #333;
}
.axis .grid-line {
    stroke: #000;
    stroke-opacity: 0.2;
}
.axis text {
    font: 10px Verdana;
}
</style>
</head>
<body>
    

    <div class="container">
        <div class="col-md-12">
        <a href="/chat" class="linkToChart"> Go to chat </a>
         <a class="linkToChart" href="/stocks" class="Stocks">Stocks </a>
        

            <h1>Chart the Stock Market</h1>
        
            <div id="container" style="height: 320px; min-width: 310px"></div>
     
     <div id="main_form">
      <form action="/stocks" method="post" class="form-horizontal" >
        
        <div class="form-group ">               
          <div class="text-center">
            <input type="text" class="form-control mains" name ="search" id= "newStock"  placeholder="Enter new stock" required>
          </div>
        </div>

        
        <div class="form-group">
          <div class="col-sm-9 col-sm-offset-1">
            <button id ="addNewStock" type="submit">Add new stock</button>
          </div>
          </div>
        </form>


   


<% include footer %>
 


     <script src="https://code.highcharts.com/stock/highstock.js"></script>
     <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
     



     <script >
     Highcharts.setOptions({
    global: {
        useUTC: false
    }
});

// Create the chart
Highcharts.stockChart('container', {
    chart: {
        events: {
            load: function () {

                // set up the updating of the chart each second
                var series = this.series[0];
                setInterval(function () {
                    var x = (new Date()).getTime(), // current time
                        y = Math.round(Math.random() * 100);
                    series.addPoint([x, y], true, true);
                }, 3000);
            }
        }
    },

    rangeSelector: {
        buttons: [{
            count: 1,
            type: 'minute',
            text: '1M'
        }, {
            count: 5,
            type: 'minute',
            text: '5M'
        }, {
            type: 'all',
            text: 'All'
        }],
        inputEnabled: false,
        selected: 0
    },

    title: {
        text: 'Live stocks data'
    },

    exporting: {
        enabled: false
    },

    series: [{
        name: 'Price',
        data: (function () {
            // generate an array of random data
            var data = [],
                time = (new Date()).getTime(),
                i;

            for (i = -999; i <= 0; i += 1) {
                data.push([
                    time + i * 1000,
                    Math.round(Math.random() * 100)
                ]);
            }
            return data;
        }())
    }]
});
       


     </script>

    
</body>
</html>